{
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["node"],
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "rules": {
    "no-console": "off",
    "no-process-exit": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
